<div class="body-content">

<div class="ui container three column centered grid">

<div class="column">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,class: "ui form" }) do |f| %>
  <%= devise_error_messages! %>

 <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Telegram @username",autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :github %>
    <%= f.text_field :github, placeholder: "GitHub link" %>
  </div>

  <div class="field">
    <%= f.label :stack %>
    <%= f.text_area :stack, placeholder: "Your technology stack" %>
  </div>

  <div class="field">
    <%= f.label :about %>
    <%= f.text_area :about, placeholder: "About you, Your ideas" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <%= f.submit "Update", class:"ui button pink" %>
<% end %>

<h3>Cancel my account</h3>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"ui button" %>
