<div class="body-content">

<div class="ui container three column centered grid">

<div class="column">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Telegram @username",autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :github %>
    <%= f.text_field :github, placeholder: "GitHub link" %>
  </div>

  <div class="field">
    <%= f.label :stack %>
    <%= f.text_area :stack, placeholder: "Your technology stack" %>
  </div>

  <div class="field">
    <%= f.label :about %>
    <%= f.text_area :about, placeholder: "About you, Your ideas" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Password confirmation" %>
  </div>

    <%= f.submit "Sign up", class:"ui button pink" %>
<% end %>
</div>
</div>
</div>
