<div class="body-content">
  <div class="ui container">
        <% if @users.empty? and @projects.empty? %>
        <div class="header ui"> Nothing were found</div>
        <% end %>
        <% if @users.present? %> <h1 class="ui header">Users</h1> <% end %>
        <div class="ui link cards">
            <%for @user in @users%>
            <%= link_to @user, {class: "card"} do %>
              <div class="content">
              <div class="header"><%= @user.name %></div>
              <div class="meta"><%= @user.username %></div>
              <% if @user.about.present? %>
              <div class="description",>
              <%= @user.about %>
              </div>
              <% end %>
            </div>
            <% if @user.stack.present? %>
              <div class="extra content">
                <%= @user.stack %>
              </div>
            <% end %>
            <% end %>
            <% end %>
        </div>

        <% if @projects.present? %><h1 class="ui header">Projects</h1> <%end%>
        <div class="ui items divided">
          <% for @project in @projects do %>
              <div class="item">
                <div class="content">
                  <div class="header"><%= @project.name %>
                    <% if need_menu(@project)%>
                      <div class="ui inline dropdown">
                        <i class="ellipsis vertical icon"></i>
                        <div class="menu">
                          <% if @project.link.present? %><a class="item" href=<%= @project.link%>>link to project</a><% end %>
                          <% if not user_in_project(@project,current_user)%> <%= link_to 'join project', edit_project_path(@project), class:"item"%> <% end %>
                          <% if @project.user == current_user %> <%= link_to 'edit project', edit_project_path(@project), class:"item"%>  <% end %>
                        </div>  
                      </div>
                    <% end %>
                  </div>
                  <div class="description">
                    <p><%= @project.description %></p>
                  </div>
                  <div class="extra">
                    <i class="black icon user"></i>
                    <% for @member in @project.memberships do %>
                    <%= link_to @member.user.name, @member.user, class:"user-link" %>
                    <%end%>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
  </div>
</div>
