<div class="body-content">
  <div class="ui container">


    <div class="ui grid">
      <div class="column five wide">
        <div class="ui card">
          <div class="ui image">
            <%# img src="https://semantic-ui.com/images/avatar2/large/kristy.png">%>
          </div>
          <div class="content">
            <a class="header"><%= @user.name %></a>
            <div class="meta">
              <span class="date"><%= @user.username %></span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="send icon"></i>
              <%= @user.message_count %> Messages
            </a>
          </div>
        </div>
      </div>
      <div class="column eleven wide">
        <div class="ui segment">
          <% if @user.stack.present? %>
          <h3 class="ui header">
            Stack
          </h3>
          <p class="about", style='white-space: pre-line;'><%= @user.stack %></p>
          <% end %>
          <% if @user.stack.present? and @user.about.present? %><div class="ui section divider"></div> <% end %>
          <% if @user.about.present? %>
          <h3 class="ui header">
            About
          </h3>
          <p class="about", style='white-space: pre-line;'><%= @user.about %></p>
          <% end %>

          


        </div>
      </div>

  </div>
</div>
