<div class="body-content">
  <div class="ui container">
    <div class="ui grid">
      <div class="column twelve wide">
        <div class="ui link cards">
        <%for @user in @users%>
          <%= link_to @user, {class: "card"} do %>
            <div class="content">
              <div class="header"><%= @user.name %></div>
              <div class="meta"><%= @user.username %></div>
              <% if @user.about.present? %>
              <div class="description",>
              <%= @user.about %>
              </div>
              <% end %>
            </div>
            <% if @user.stack.present? %>
              <div class="extra content">
                <%= @user.stack %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        </div>

      </div>
      <div class="column four wide">
        <div class="ui segment">
          <h4 class="ui header">Projects</h4>

          <% for @project in @projects%>

            <%= link_to  @project.link.present? ? @project.link : projects_path, {class: "project"} do %>
              <div class="name"><%= @project.name %></div>
              <div class="users"><%= @project.memberships.count %> <i class="user icon"></i></div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>