<%= form_for(project, html: { class: "ui form" })  do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder:"Project name" %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.url_field :link, placeholder:"Link to your project" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder:"Short description" %>
  </div>

  <%= f.submit "Update", class: "button ui pink" %>
<% end %>
