<div class="body-content">
  <div class="ui container">
    <div class="ui grid ">
      <div class="column twelve wide ">
      <h1 class="ui header">Projects <%= link_to 'New Project', new_project_path, class:"ui pink button", style:"float:right" %></h1>
        <div class="ui items divided">
          <% for @project in @projects do %>
              <div class="item">
                <div class="content">
                  <div class="header"><%= @project.name %>
                    <% if need_menu(@project)%>
                      <div class="ui inline dropdown">
                        <i class="ellipsis vertical icon"></i>
                        <div class="menu">
                          <% if @project.link.present? %><a class="item" href=<%= @project.link%>>link to project</a><% end %>
                          <% if not user_in_project(@project,current_user)%> <%= link_to 'join project', edit_project_path(@project), class:"item"%> <% end %>
                          <% if @project.user == current_user %> <%= link_to 'edit project', edit_project_path(@project), class:"item"%>  <% end %>
                        </div>  
                      </div>
                    <% end %>
                  </div>
                  <div class="description">
                    <p><%= @project.description %></p>
                  </div>
                  <div class="extra">
                    <i class="black icon user"></i>
                    <% for @member in @project.memberships do %>
                    <%= link_to @member.user.name, @member.user, class:"user-link" %>
                    <%end%>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

      </div>
      <div class="column four wide">
      <div class="ui segment">
          <h4 class="ui header">Users</h4>
          <% for @user in @users%>
            <%= link_to @user, {class: "project"} do %>
              <div class="name"><%= @user.name %></div>
              <div class="users"><%= @user.memberships.count %> <i class="users icon"></i></div>
            <% end %>
          <% end %>
        </div>
      
      </div>
    </div>

  </div>
</div>

<script>

$('.accordion')
  .accordion({
    selector: {
      trigger: '.title'
    }
  })
;
</script>
