<div class="body-content">
  <div class="ui container">    
    <div class="ui container three column centered grid">
      <div class="column">
        <h1>New Project</h1>
        <%= render 'form', project: @project %>
      </div>
    </div>
  </div>
</div>
