<div class="body-content">

<div class="ui container three column centered grid">

<div class="column">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui form" }) do |f| %>
  <div class="ui field ">
    <%= f.label :username %>
    <%= f.text_field :username%>
  </div>

  <div class="ui field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field ui checkbox">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div><br>
  <% end %>

    <%= f.submit "Log in", class:"ui button pink" %>
<% end %>
</div>
</div>
</div>
