// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body-content {
  margin-top: 20px; 
}

.project {
  display: block;
  color: rgba(0,0,0,.87);
  overflow: hidden;
  padding: 10px;
}

.project:hover, .project:active {
  color: rgba(0,0,0,.87);
  .name {color: #E03997;}
}


.project .name {
  max-width: 75%;
  font-size: 1.05em;
  font-weight: 600;
  float: left;
}

.project .users {
  max-width: 25%;
  float: right;
}

.ui.card, .ui.cards>.card {
  width: 265px !important; 
}