// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.header  i.icon {
  font-size: 0.75em !important;
}

.user-link {
  color : rgba(0, 0, 0, 0.5);

  &:hover, &:active, &:focus {
    color: #E03997;
  }

    &::after {
      content: ", "
    }

    &:last-child {
      &:after {
        content: "";
      }
    }

}