<div class="header">
  <div class="ui attached inverted menu">
    <div class="ui container">
      <%= nav_link 'Home', root_path %>
      <%= nav_link 'Projects', projects_path %>

      <div class="right menu">
        <div class="item">
          <div class="ui transparent inverted icon input">
            <i class="search icon"></i>

            <%= form_tag search_index_path, :method => 'get' do%>
              <%= text_field_tag :search,nil, placeholder:"Search" %>
            <% end %>
          </div>
        </div>
        <% if user_signed_in? %>

        <div class="ui dropdown item" tabindex="0">
          <%= current_user.name %>
          <i class="dropdown icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <%= link_to 'Show profile', current_user, {class: 'item'}%>
            <%= link_to 'Edit profile', edit_user_registration_path, {class: 'item'} %>
            <%= link_to "Sign out", destroy_user_session_path,  {class: 'item', method: 'delete'} %>
          </div>
          
        </div>
        <% else %>
          <%= nav_link 'Sign in', new_user_session_path %>
          <%= nav_link 'Sign up', new_user_registration_path %>
        <% end %>

      </div>
    </div>
  </div>
</div>