<!DOCTYPE html>
<html>
  <head>
    <title>Wilku</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"> 
  </head>

  <body>
    <%= render :partial => "layouts/header" %>
    
    <% if not notice.nil? %>
      <div class="ui container body-content">
        <div class="ui positive message">
          <i class="close icon"></i>
          <%= notice %>
        </div>
      </div>
    <% end %>

    <% if not alert.nil? %>
      <div class="ui container body-content">
        <div class="ui error message">
          <i class="close icon"></i>

          <%= alert %>
        </div>
      </div>
    <% end %>
    <%= yield %>
    <script>
    $('.ui.dropdown').dropdown();
    </script>
  </body>
</html>
